body {
	font-family: 'PT Sans', sans-serif;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.main-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.main-navigation li {
	display: inline-block;
	width: 20%;
  	font-size: 14px;
  	text-align: center;
  	text-decoration: none;
  	padding-top: 22px;
  	padding-bottom: 22px;
}

.main-navigation a {
	text-decoration: none;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
}

a:hover {
	color: #81b3d2;
}

li:nth-child(2) {
  margin-right: 20%;
}

.main-header {
	position: relative;
}

.main-navigation .logo {
  width: 139px;
  height: 70px;
  background-image: url('../img/top-logo.png');
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.main-logo {
	position: relative;
	width: 100%;
	z-index: -1;
}

.main-logo-title {
	position: absolute;
	top: 133px;
	left: 373px;
}

.main-logo-frame {
	position: absolute;
	top: 507px;
}
.main-logo-frame:after  {
	content: '';
	width: 100%;
	height: 269px;
	background: #ffffff;
	position: absolute;
	top: 57px;
	z-index: -1;
}

.information {
	text-align: center;
	margin-top: -200px;
}

.information h2 {
	font-size: 21px;
	font-weight: 700;
}

.information p {
	font-size: 14px;
	font-weight: 400;
	padding-bottom: 54px;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

.city-logo {
	text-align: center;
	float: left;
	width: 400px;
	min-height: 256px;
	background: #81b3d2;
	color: #ffffff;
}

.city-logo h3 {
	font-size: 21px;
	font-weight: 700;
	margin-top: 57px;
}

.city-logo p {
	font-size: 14px;s
	font-weight: 400;
}

.city-logo .open-range {
	float: right;
}

.services {
	font-size: 0;
	padding-top: 60px;
	padding-bottom: 88px;
}

.services .services-item h3 {
	font-size: 21px;
	font-weight: 700; 
}

.services .services-item p {
	font-size: 14px;
	font-weight: 400;
}

.services .services-item {
	display: inline-block;
	color: #111111;
	text-align: center;
	vertical-align: top;
	width: 33.33%;
	box-sizing: border-box;
}

.davil-bridge {
	text-align: center;
	float: right;
	width: 400px;
	min-height: 256px;
	background: #81b3d2;
	color: #ffffff;
}

.bridge {
	float: left;
	width: 800px;
	min-height: 256px;
}

.davil-bridge h3 {
	font-size: 21px;
	font-weight: 700;
	margin-top: 57px;
}

.davil-bridge p {
	font-size: 14px;
	font-weight: 400;
}

.sedona-advantages {
	font-size: 0;
	background: #eeeeee;
}

.sedona-advantages .item-advantage {
	display: inline-block;
	color: #111111;
	text-align: center;
	vertical-align: top;
	width: 33.33%;
	box-sizing: border-box;
}

.sedona-advantages .item-advantage h3 {
	font-size: 21px;
	font-weight: 700;
}

.sedona-advantages .item-advantage p {
	font-size: 14px;
	font-weight: 400;
}





