body {
	font: PT+Sans;
	color: #000000;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}

a:hover {
	color: #81b3d2;
}

.main-navigation {
	height: 56px;
	margin: 0 auto;
	background: #ffffff;
}

.main-navigation ul li {
	float: left;
	list-style: none;
	margin-left: 110px;
	margin-top: 21px;
	margin-bottom: 21px;
}

.little-logo {
	position: relative;
	margin-top: -37px;
	z-index: 10;
}

.main-navigation ul li:nth-child(1) {
	margin-left: 50px;
	margin-top: 5px;
}

.main-navigation ul li:nth-child(4) {
	margin-right: 20px;
	margin-top: 5px;
}

.main-navigation ul li:nth-child(2),
.main-navigation ul li:nth-child(5) {
	 margin-top: 5px;
}

.main-logo {
	width: 1200px;
	min-height: 773px;
	position: relative;
	top: -40px;
}

.information {
	position: relative;
	margin-top: -210px;
	font-size: 21px;
	text-align: center;
}

.information p {
	margin-top: 40px;
	font-size: 14px;
	text-align: center;
}

.container .city-logo {
	position: relative;
	width: 400px;
	height: 206px;
	background: #81b3d2;
	margin-top: 59px;
	text-align: center;
	padding-top: 50px;
	color: #ffffff;
	font-size: 14px;
	font-weight: regular;
}

.container .city-logo a {
	color: #ffffff;
	font-size: 21px;
	font-weight: bold;
}

.container .city-logo img {
	position: relative;
	width: 800px;
	height: 256px;
	margin-left: 400px;
	margin-top: -205px;
}

.middle-navigation {
	font-size: 14px;
	font-weight: regular;
}

.img-house,
.img-burger,
.img-souvenirs {
	text-align: center;
	display: inline-block;
	margin-top: 62px;
	margin-bottom: 80px;
}

.img-house {
	margin-left: 73px;
}

.img-burger {
	margin-left: 50px;
}

.img-souvenirs {
	margin-left: 50px;
}

.davil-bridge {
	position: relative;
	width: 400px;
	height: 206px;
	background: #81b3d2;
	margin-left: 800px;
	text-align: center;
	padding-top: 50px;
	color: #ffffff;
	margin-top: -259px;
	font-size: 14px;
	font-weight: regular;
}

.davil-bridge a {
	font-size: 21px;
	font-weight: bold;
	color: #ffffff;
}

.places {
	width: 1200px;
	height: 256px;
	background: #eeeeee;
}

.square,
.road,
.turists {
	text-align: center;
	display: inline-block;
	margin-top: 62px;
	margin-bottom: 80px;
}

.square {
	margin-left: 95px;
}

.road {
	margin-left: 90px;
}

.turists {
	margin-left: 110px;
}

.square a,
.road a,
.turists a {
	font-size: 21px;
	font-weight: bold;
}

.square,
.road,
.turists {
	font-size: 14px;
	font-weight: regular;
}

.interesting {
	width: 1200px;
	height: 256px;
	background: #ffffff;
	font-size: 14px;
	font-weight: regular;
}

.interesting h2 {
	text-align: center;
	padding-top: 56px;
	font-size: 24px;
	font-weight: bold;
}

.interesting p {
	text-align: center;
	padding-top: 36px;
}

.fined-hotel {
	width: 569px;
	height: 86px;
	background: #766357;
	text-align: center;
	margin-left: 317px;
	padding-top: 22px;
	font-size: 21px;
	font-weight: bold;
}

.choose-hotel {
	position: relative;
	margin-left: 317px;
	margin-top: -36px; 
	height: 397px;
	width: 569px;
	background: #ffffff;
	z-index: 10;
}

.icon-calendar {
	background-image: url('img/calendar.png');
}

.fined-hotel-btn {
	color: white;
}

.visit {
	margin-left: 129px;
	margin-top: 56px;
}

.visit a {
	font-size: 24px;
	font-weight: bold;
}

.visit a:hover {
	color: #81b3d2;
}

.footer-social {
	margin-left: 524px;
	margin-top: -42px;
}

.footer-copyright img {
	position: relative;
	margin-left: 984px;
	top: -61px;
}

.footer-copyright .btn {
	position: relative;
	margin-left: 897px;
	top: -33px;
}
