body {
	font-family: 'PT Sans', sans-serif;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
}

.main-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.main-navigation li {
	display: inline-block;
	width: 20%;
  	font-size: 14px;
  	text-align: center;
  	text-decoration: none;
  	padding-top: 22px;
  	padding-bottom: 22px;
}

.main-navigation a {
	text-decoration: none;
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
}

a:hover {
	color: #81b3d2;
}

.main-navigation li:nth-child(2) {
  margin-right: 20%;
}

p {
	font-size: 14px;
	font-weight: 400;
}

h2,
h3 {
	font-size: 21px;
	font-weight: 700;
}

.main-header {
	position: relative;
}

.main-navigation .logo {
  width: 139px;
  height: 70px;
  background-image: url('../img/top-logo.png');
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.main-logo {
	position: relative;
	width: 100%;
}

.services-of-sedona {
	position: relative;
}

.services {
	width: 100%;
	min-height: 218px;
}

.slime-background {
	position: absolute;
	z-index: -1;
}

.infrastructure {
	position: absolute;
	left: 73px;
	margin-top: 20px;
}

.property_type {
	position: absolute;
	margin-left: 328px;
	margin-top: 20px;
}

.property_type h3,
.infrastructure h3 {
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: block;
	margin: 2px 0;
	line-height: 20px;
	padding-left: 30px;
	position: relative;
	cursor: pointer;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
}

input[type="checkbox"] + label::before {
	content: '';
	width: 18px;
	height: 18px;
	border: 2px solid #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
}

input[type="checkbox"]:checked + label::after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	background-image: url('../img/checked.png');
	background-repeat: no-repeat;
	background-position: -2px -6px;
	width: 27px;
	height: 27px;
}

.filter-range {
  width: 330px;
  margin: 50px auto;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  right: 5px;
  top: -15px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.sorting-hotel-type {
	position: relative;
}

.sorting-item-navigation ul {
	list-style-type: none;
 	margin: 0;
  	padding: 0;
  	font-size: 0;
}

.sorting-item-navigation li {
	display: inline-block;
  	font-size: 14px;
  	text-align: center;
  	padding-top: 22px;
  	padding-bottom: 22px;
  	margin-left: 147px;
  	padding-left: 20px;
}

.sorting-hotel-type {
	border-bottom: 1px solid #d0d0d0;
}

.sorting-hotel-item {
	float: left;
	width: 330px;
	padding: 0;
	margin: 0;
}

.sorting-item-navigation,
.sorting-hotel-item-find,
.sorting-hotel-item-class
{
	display: inline-block;
	font-weight: 700;
}

.sorting-item-navigation {
	padding: 36px 0;
	float: left;
}

.sorting-item-navigation a {
	text-decoration: none;
	color: #b1b1b1;
	font-weight: 400;
	border-bottom: 2px solid #81b3d2;
	border-bottom-style: dotted;
}

.sorting-item-navigation a:hover {
	color: #81b3d2;
	border: none;
}

.sorting-item-navigation li {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.sorting-item-navigation li:nth-child(1),
.sorting-item-navigation li:nth-child(2),
.sorting-item-navigation li:nth-child(3) {
	padding-top: 27px;
	padding-right: 34px;
}

.sorting-item-coner {
	padding-top: 51px;
	padding-right: 73px;
	float: right;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

.sorting-hotel-item-find {
	padding: 36px 20px 36px 73px;
}

.sorting-item-coner-left,
.sorting-item-coner-right {
	display: inline-block;
}

.sorting-item-coner-left:hover {
	background-image: url('../img/3coner-hover.png');
	background-repeat: no-repeat;
}

.sorting-item-coner-right:hover {
	background-image: url('../img/3coner-hover.png');
	background-repeat: no-repeat;
	transform: rotate(180deg);
}

.sorting-item-coner-right {
	transform: rotate(180deg);
}

.hotels {
	padding: 0;
	margin: 0;
}

.hotels-item {
	border-bottom: 1px solid #d0d0d0;
}

.hotels-item h3 {
	font-size: 21px;
	font-weight: 700;
	margin-top: 31px;
	margin-bottom: 2px;
}

.hotels-item p {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 2px;
}

.hotels-item input {
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	border: none;
}

.b1 {
	height: 26px;
	width: 111px;
	background: #81b3d2;
}

.b1:hover {
	background: #669ec0;
}

.b2 {
	height: 26px;
	width: 144px;
	background: #766357;
}

.b2:hover {
	background: #604e43;
}

.hotel_1 {
	float: left;
	margin: 33px 33px 33px 72px;
}

.hotel_2 {
	float: left;
	margin: 33px 33px 33px 72px;
}

.hotel_3 {
	float: left;
	margin: 33px 33px 33px 72px;
}

.amara-hotels-item {
	float: left;
}

.desert-hotels-item {
	float: left;
}

.villas-hotels-item {
	float: left;
}

.right-amara-hotels-item {
	float: right;
	margin-right: 74px;
	margin-top: 30px;
}

.right-desert-hotels-item {
	float: right;
	margin-right: 74px;
	margin-top: 30px;
}

.right-villas-hotels-item {
	float: right;
	margin-right: 74px;
	margin-top: 30px;
}

.star1 {
	margin-bottom: 48px;
	padding-left: 18px;
}

.star2 {
	margin-bottom: 48px;
	padding-left: 68px;
}

.star3 {
	margin-bottom: 48px;
	padding-left: 46px;
}

.hotel-rating {
	height: 21px;
	width: 109px;
	background: #f2f2f2;
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	padding-top: 7px;
}

.main-footer {
	position: relative;
	min-height: 123px;
}

.visit a {
	position: absolute;
	color: #000000;
	font-weight: 700;
	font-size: 21px;
	text-transform: uppercase;
	text-decoration: none;
	left: 133px;
	top: 50px;
}

.visit a:hover {
	color: #81b3d2;
}

.footer-social {
	position: absolute;
	left: 527px;
	top: 37px;
}

.footer-copyright img {
	position: absolute;
	right: 104px;
	top: 44px;
}

.footer-copyright a {
	position: absolute;
	color: #000000;
	text-decoration: none;
	right: 223px;
	top: 53px;
	font-weight: 700;
	font-size: 14px;
}

.footer-copyright a:hover {
	color: #669ec0;
}

