body {
    font-family: "PT Sans", Arial, sans-serif;
    background: #f2f2f2;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}

.main-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    background: #fff;
}

.main-navigation li {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    padding-top: 22px;
    padding-bottom: 22px;
}

.main-navigation a {
    text-decoration: none;
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
}

.main-navigation a:active {
    color: #b2b2b2;
}

a:hover {
    color: #81b3d2;
}

li:nth-child(2) {
    margin-right: 20%;
}

p {
    font-size: 14px;
    font-weight: 400;
}

h2,
h3 {
    font-size: 21px;
    font-weight: 700;
}

.main-header {
    position: relative;
    background: #fff;
}

.main-navigation .logo {
    width: 139px;
    height: 70px;
    background-image: url("../img/top-logo.png");
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
}

.main-logo {
    position: relative;
    text-align: center;
    background-image: url("../img/main-logo.jpg");
    height: 510px;
}

.main-logo img {
    margin-top: 75px;
}

.main-logo:before {
    position: absolute;
    content: "";
    background-image: url("../img/frame.png");
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
}

.information {
    padding: 31px 0;
    line-height: 26px;
    text-align: center;
    background: #fff;
}

.information h2 {
    width: 450px;
    margin: 28px auto;
    font-size: 21px;
    color: #000;
}

.information p {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 19px;
    margin: 0;
}

.clearfix:after {
    content: '';
    clear: both;
    display: table;
}

.city-logo {
    text-align: center;
    float: left;
    width: 400px;
    min-height: 256px;
    background: #81b3d2;
    color: #ffffff;
}

.city-logo h3 {
    font-size: 21px;
    font-weight: 700;
    margin-top: 51px;
}

.city-logo p {
    font-size: 14px;
    font-weight: 400;
}

.city-logo-paragraf {
    margin-top: 27px;
}

.open-range {
    float: right;
}

.services-main {
    font-size: 0;
    padding-top: 60px;
    padding-bottom: 55px;
    background: #fff;
}

.services-main h3 {
    margin-top: 7px;
}

.services-main .services-main-item {
    display: inline-block;
    vertical-align: middle;
    color: #111111;
    text-align: center;
    vertical-align: top;
    width: 33.33%;
    box-sizing: border-box;
    line-height: 26px;
}

.davil-bridge {
    text-align: center;
    float: right;
    width: 400px;
    min-height: 256px;
    background: #81b3d2;
    color: #ffffff;
}

.bridge {
    float: left;
}

.davil-bridge h3 {
    margin-top: 57px;
}

.davil-bridge p {
    margin-top: 26px;
}

.sedona-advantages {
    font-size: 0;
    background: #eeeeee;
    padding-top: 23px;
    padding-bottom: 48px;
}

.sedona-advantages .item-advantage {
    display: inline-block;
    color: #111111;
    text-align: center;
    vertical-align: top;
    width: 33.33%;
    box-sizing: border-box;
}

.sedona-advantages p {
    margin-top: 30px;
}

.item-advantage-number {
    font-size: 14px;
    color: #000;
}

.interesting {
    position: relative;
    text-align: center;
    background: #ffffff;
}

.interesting h2 {
    margin: 0;
    padding-top: 53px;
    padding-bottom: 29px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
}

.interesting p {
    margin: 0;
    margin-bottom: 24px;
    line-height: 24px;
}

.interesting .fined-hotel-btn {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    text-decoration: none;
    background-color: #766357;
    padding: 28px 20px;
    text-align: center;
    margin-top: 26px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    width: 570px;
    box-sizing: border-box;
}

.map {
    height: 593px;
}

.interesting .fined-hotel-btn:hover {
    background-color: #604e43;
}

.interesting .fined-hotel-btn:active {
    background-color: #503e33;
    color: #857871;
}

.choose-hotel {
    display: none;
}

.choose-hotel-close {
    display: block;
}

.form {
    width: 570px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;
    padding: 52px 55px 46px 55px;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background: #ffffff;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);
    text-align: left;
}

.form fieldset {
    border: none;
    padding: 0;
}

.form-row {
    margin-bottom: 30px;
    position: relative;
}

.form label.form-label {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    width: 112px;
}

.form-input {
    min-height: 38px;
    width: 340px;
    background: #f2f2f2;
    border: 2px solid #f2f2f2;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    box-sizing: border-box;
    padding-left: 13px;
    outline: none;
}

.form-input:hover {
    background: #ebebeb;
}

.form-input:focus {
    background: #ffffff;
}

.icon-calendar {
    display: block;
    vertical-align: middle;
    position: absolute;
    width: 21px;
    height: 22px;
    background-image: url("../img/calendar.png");
    right: 12px;
    top: 8px;
}

.icon-calendar:hover {
    background-image: url("../img/calendar-hover.png");
}

.icon-calendar:active {
    background-image: url("../img/calendar-active.png");
}

.counters {
    margin-top: 30px;
    text-align: left;
    margin-bottom: 54px;
}

.counter {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 0;
}

.counter-left {
    width: 226px;
    float: left;
}

.counter-right {
    float: right;
}

.counter label {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}

.label-left {
    width: 112px;
}

.label-right {
    margin-right: 26px;
}

.counter button {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 38px;
    font-size: 14px;
    border: none;
    outline: none;
}

.counter input {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 38px;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #f2f2f2;
    border: none;
}

.icon-minus {
    display: inline-block;
    vertical-align: middle;
    margin-right: -5px;
    min-height: 35px;
    width: 30px;
    background-image: url("../img/minus.png");
    background-color: #f2f2f2;
    border: none;
    background-repeat: no-repeat;
    background-position: 10px 16px;
}

.icon-minus:hover {
    background-image: url("../img/minus-hover.png");
}

.icon-minus:active {
    background-image: url("../img/minus-active.png");
}

.icon-plus {
    display: inline-block;
    vertical-align: middle;
    margin-left: -5px;
    min-height: 35px;
    width: 30px;
    border: none;
    background-image: url("../img/plus.png");
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: 10px 12px;
}

.icon-plus:hover {
    background-image: url("../img/plus-hover.png");
}

.icon-plus:active {
    background-image: url("../img/plus-active.png");
}

.btn {
    min-height: 59px;
    width: 460px;
    background: #81b3d2;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background: #669ec0;
    color: #ffffff;
}

.btn:active {
    background: #5496bd;
    color: #88b6d1;
}

.map iframe {
    border: none;
}

.services-of-sedona {
    position: relative;
}

.services {
    width: 100%;
    min-height: 218px;
}

.slime-background {
    position: absolute;
    z-index: -1;
}

.infrastructure {
    position: absolute;
    left: 73px;
    margin-top: 12px;
}

.property_type {
    position: absolute;
    margin-left: 328px;
    margin-top: 12px;
}

.property_type h3,
.infrastructure h3 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    margin: 2px 0;
    line-height: 20px;
    padding-left: 38px;
    position: relative;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    left: 2px;
    background-image: url("../img/checkbox.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}

input[type="checkbox"]:checked + label::after {
    content: "";
    position: absolute;
    left: 2px;
    background-image: url("../img/checked.png");
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}

.filter-range {
    width: 330px;
    margin: 50px auto;
    margin-top: 39px;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    right: 57px;
    top: -15px;
}

.filter-range-title {
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
}

.price-controls::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    height: 35px;
    vertical-align: top;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background: #1c4f80;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

.sorting-hotel-type {
    position: relative;
}

.sorting-item-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.sorting-item-navigation li {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    margin-left: 147px;
    padding-left: 20px;
    vertical-align: middle;
}

.sorting-hotel-type {
    border-bottom: 1px solid #d0d0d0;
    background: #fff;
}

.sorting-hotel-item {
    float: left;
    padding: 0;
    margin: 0;
}

.sorting-item-navigation,
.sorting-hotel-item-find,
.sorting-hotel-item-class {
    display: inline-block;
    font-weight: 700;
}

.sorting-item-navigation {
    float: left;
}

.sorting-item-navigation a {
    text-decoration: none;
    color: #b1b1b1;
    font-weight: 400;
    border-bottom: 2px solid #81b3d2;
    border-bottom-style: dotted;
}

.sorting-item-navigation a:hover {
    color: #81b3d2;
    border: none;
}

.sorting-item-navigation a:active {
    color: #111111;
}

.sorting-item-navigation-first a {
    color: #81b3d2;
    border: none;
}

.sorting-item-navigation li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.sorting-item-navigation li:nth-child(1),
.sorting-item-navigation li:nth-child(2),
.sorting-item-navigation li:nth-child(3) {
    margin-top: 33px;
    padding-right: 34px;
}

.sorting-item-coner {
    float: right;
    margin-right: 73px;
    margin-top: 30px;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.sorting-hotel-item-find,
.sorting-hotel-item-class {
    display: inline-block;
    vertical-align: middle;
}

.sorting-hotel-item-find {
    margin-top: 28px;
    margin-left: 72px;
    margin-right: 50px;
}

.sorting-hotel-item-class {
    margin-top: 23px;
    margin-right: 42px;
}

.sorting-item-coner-left a {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #cccccc;
}

.sorting-item-coner-right a {
    position: relative;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #cccccc;
    margin-left: 23px;
    bottom: 2px;
}

.sorting-item-coner-right .active {
    border-top: 10px solid #81b3d2;
}

.sorting-item-coner-left a:hover {
    border-bottom: 10px solid #000000;
}

.sorting-item-coner-left a:active {
    border-bottom: 10px solid #81b3d2;
}

.hotels {
    padding: 0;
    margin: 0;
}

.hotels-item {
    border-bottom: 1px solid #d0d0d0;
    background: #fff;
}

.hotels-margin {
    margin-right: 40px;
}

.hotels-item h3 {
    font-size: 21px;
    font-weight: 700;
    margin-top: 31px;
    margin-bottom: 2px;
}

.hotels-item p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 2px;
}

.hotels-item a {
    text-decoration: none;
    color: #000000;
}

.hotels-item a:hover {
    color: #81b3d2;
}

.hotels-item a:active {
    color: #b2b2b2;
}

.hotels-item input {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    border: none;
}

.b1 {
    height: 26px;
    width: 111px;
    background: #81b3d2;
    cursor: pointer;
}

.b1:hover {
    background: #669ec0;
}

.b1:active {
    background: #5496bd;
    color: #88b6d1;
}

.b2 {
    height: 26px;
    width: 144px;
    background: #766357;
    cursor: pointer;
}

.b2:hover {
    background: #604e43;
}

.b2:active {
    background: #503e33;
    color: #857871;
}

.hotel_1 {
    float: left;
    margin: 33px 33px 33px 72px;
}

.hotel_2 {
    float: left;
    margin: 33px 33px 23px 72px;
}

.hotel_3 {
    float: left;
    margin: 33px 33px 33px 72px;
}

.amara-hotels-item {
    float: left;
}

.desert-hotels-item {
    float: left;
}

.villas-hotels-item {
    float: left;
}

.right-amara-hotels-item {
    float: right;
    margin-right: 74px;
    margin-top: 30px;
}

.right-desert-hotels-item {
    float: right;
    margin-right: 74px;
    margin-top: 30px;
}

.right-villas-hotels-item {
    float: right;
    margin-right: 74px;
    margin-top: 30px;
}

.star1 {
    margin-bottom: 48px;
    padding-left: 18px;
}

.star2 {
    margin-bottom: 48px;
    padding-left: 68px;
}

.star3 {
    margin-bottom: 48px;
    padding-left: 46px;
}

.hotel-rating {
    height: 21px;
    width: 109px;
    background: #f2f2f2;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding-top: 7px;
}

.main-footer {
    position: relative;
    height: 123px;
    margin-top: -123px;
    background: rgba(255, 255, 255, 0.8);
}

.main-footer-hotel {
    position: relative;
    min-height: 123px;
    background: #fff;
}

.visit p {
    position: absolute;
    color: #000000;
    font-weight: 700;
    font-size: 21px;
    text-transform: uppercase;
    text-decoration: none;
    left: 133px;
    top: 30px;
}

.footer-social {
    position: absolute;
    left: 527px;
    top: 37px;
}

.footer-social-twitter {
    display: inline-block;
    width: 46px;
    height: 48px;
    background: #81b3d2;
    position: relative;
}

.footer-social-twitter:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
    background-image: url("../img/tw.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 17px;
    height: 15px;
}

.footer-social-twitter:hover {
    background: #669ec0;
}

.footer-social-twitter:active {
    background: #5496bd;
}

.footer-social-twitter:active:after {
    opacity: 0.5;
}

.footer-social-facebook {
    display: inline-block;
    width: 46px;
    height: 48px;
    background: #81b3d2;
    position: relative;
}

.footer-social-facebook:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
    background-image: url("../img/fb.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 17px;
    height: 15px;
}

.footer-social-facebook:hover {
    background: #669ec0;
}

.footer-social-facebook:active:after {
    opacity: 0.5;
}

.footer-social-youtube {
    display: inline-block;
    width: 46px;
    height: 48px;
    background: #81b3d2;
    position: relative;
}

.footer-social-youtube:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
    background-image: url("../img/you.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 17px;
    height: 15px;
}

.footer-social-youtube:hover {
    background: #669ec0;
}

.footer-social-youtube:active:after {
    opacity: 0.5;
}

.footer-copyright .academy {
    position: absolute;
    right: 104px;
    top: 44px;
    width: 114px;
    height: 42px;
    background-image: url("../img/html.png");
    background-repeat: no-repeat;
}

.footer-copyright .academy:hover {
    background-image: url("../img/html-hover.png");
}

.footer-copyright .academy:active {
    background-image: url("../img/html-active.png");
}

.footer-copyright p {
    position: absolute;
    color: #000000;
    text-decoration: none;
    right: 223px;
    top: 40px;
    font-weight: 700;
    font-size: 14px;
}
